.git/
.DS_Store



milvus_data/
qdrant_data/
pg_data/
postgres_data/
minio_data/
rabbitmq_data/
jaeger_data/
deploy/.env
models/
services/*/.venv/
services/*/.pytest_cache/
services/*/__pycache__/
**/.venv/
**/.pytest_cache/
**/__pycache__/
webui/node_modules/
webui/.node_modules-docker/
webui/dist/
